*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SLIDER */

/* Tamaño del slider esto puede variar */
.container-slider{
    width: 100%;
    max-width: 44rem;
    height: 100vh;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 0.625em #fff,  /* Margen */
                0 0.625rem 2.5em #fff; /* Sombra */
    position: relative;
}

/* Mide 400% por la cantidad de imagenes */
.slider{
    display: flex;
    width: 600%;
    height: 100vh;
    margin-left: -100%;
}

/* De los 400% cada imagen ocupara un 100%*/
.slider__section{
    width: 100%;
}

.slider__img{
    display: block;
    width:100%;
    height:100%;
    object-fit: fill;
}

.slider__btn{
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background:black;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.875em;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    line-height: 36px;
    color: #fff;
}

.slider__btn:hover{
    background: #fff;
    color: black;
    line-height: 36px;
}

.slider__btn--left{
    left: 0.625rem;
}

.slider__btn--rigth{
    right: 0.625rem;
}
/* FORM */

section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

/* section .imgBx{
    position: relative;
    width: 50%;
    height: 100%;
}
section .imgBx::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg,#03a8f45b,#03a8f45b);
    z-index: 1;
    mix-blend-mode: screen;
}

section .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
} */

section .contentBx{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

section .contentBx .formBx{
    width: 50%;
}

section .contentBx .formBx h2{
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
}

section .contentBx .formBx .inputBx select{
    margin-bottom: 20px;
}

section .contentBx .formBx .inputBx{
    margin-bottom: 20px;
}

select,input[type="checkbox"]{
    cursor: pointer;
}

section .contentBx .formBx .inputBx span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    letter-spacing: 1px;
}

section .contentBx .formBx .inputBx>input,select{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}

section .contentBx .formBx .inputBx input[type="submit"]{
    background: #fff;
    color: #ff4584;
    outline: none;
    border-color: #ff4586;
    font-weight: 500;
    cursor: pointer;
}
section .contentBx .formBx .inputBx input[type="submit"]:hover{
    background: #ff4586;
    color: #fff;
    border-color: #fff;
}

section .contentBx .formBx .remember{
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
}

section .contentBx .formBx .inputBx p{
    color: #607d8b;
}
section .contentBx .formBx .inputBx p a{
    color: #ff4584;
}

@media (max-width: 1000px){
    section .container-slider{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    section .contentBx{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    section .contentBx .formBx{
        width: 100%;
        padding: 40px;
        background: rgba(255 255 255 / 0.9);
        margin: 50px;
    }

    .slider__btn{
        display: none;
    }

    .alcaldia{
        display: none;
    }

}

.alcaldia{
    position: absolute;
    height: 100px;
    width: 100px;
}
.alcaldia img{
    position: absolute;
    height: 100px;
    width: 300px;margin-left: 44em;
}